body  {
	font-family: helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

/*Header*/

header  {
	background-color: black;
	border-bottom: 1px solid seashell;
	width: 100%;
	display: flex;
	align-items: center;
	height: 69px;
	position: fixed;
	z-index: 1;
}

.logo img  {
	height: 50px;
	margin-left: 10px;
}

.logo  {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

ul  {
	list-style-type: none;
}

li  {
	display: inline-block;
	padding: 20px;	
}

li a  {
	color: seashell;
	text-decoration: underline;
}

/*Mission Section*/

#mission-background  {
	margin: auto;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
	background-size: cover; 
	width: 1200px;
	height: 700px;
	padding-top: 70px;
}

.mission  {
	margin: 0 auto;
	width: 100%;
	background-color: black;
	margin-top: 280px;
	padding: 2px 0;
}

/*Tea Section*/

#tea  {
	margin: auto;
	height: 700px;
	width: 1000px;
	padding-top: 70px;
}

.flex-items  {
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

img  {
	height: 200px;
	margin: 10px;	
}

span  {
	display: block;
	text-align: center;
}

/*Locations Section*/

#locations  {
	margin: auto;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
	background-size: cover;
	width: 1200px;
	height: 500px;
	padding-top: 60px;
}

.flex-container  {
	margin: auto;
	width: 1100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}

.location  {
	background-color: black;
	width: 300px;
	padding: 10px;
    margin: -10px 20px;
    opacity: 1;  
}

.location span  {
	margin: 20px;
	padding: 10px;
}

/*Footer*/

footer  {
	height: 200px;
}

footer p  {
	font-size: 16px;
	text-align: left;
	margin: 20px;
}


